.PowerMonitor {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 5px;
  min-width: 350px;
  max-width: 350px;
  min-height: 100px;
  max-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  border-radius: 15px;
  border: solid black;
  color: black;
}

.PowerMonitor-header {
  font-size: 20pt;
  margin-bottom: 10px;
}

.PowerMonitor-message {
  font-size: 12pt;
  margin-bottom: 10px;
}

.PowerMonitor-subtitle {
  font-size: 10pt;
}

.PowerMonitor-free {
  background-color: #57b139;
}

.PowerMonitor-busy {
  background-color: #dee34e;
}

.PowerMonitor-error {
  background-color: #b13939;
}

.PowerMonitor-loader {
  border: 5px solid #b1b1b1; /* Light grey */
  border-top: 5px solid #616161; /* Blue */
  border-radius: 50%;
  min-width: 20px;
  max-width: 20px;
  min-height: 20px;
  max-height: 20px;
  animation: PowerMonitor-spin 2s linear infinite;
}

@keyframes PowerMonitor-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
